<h1>This is the signup form page</h1>

<form action="/register" method="POST">
   <input type="text" placeholder="username" name="username">
   <input type="password" placeholder="password" name="password">
   <button>Submit</button>
</form>

<li><a href="/register">Signup</a></li>
<li><a href="/login">Logiin</a></li>
<li><a href="/logout">Logout</a></li>